# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Dependencies
node_modules
.pnp
.pnp.js

# Testing
coverage
.nyc_output

# Build outputs
dist
build
.next
out
.nuxt
.output

# Deployment artifacts
*.zip
*.tar
*.tar.gz
build.zip

# Environment variables
.env
.env.*
!.env.example

# Editor directories and files
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Kapsul specific
PLAN.md
.kapsul.config.json